body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('background_site.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    margin: 10px 0;
}

p {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    margin: 5px 0;
}

#gameCanvas {
    border: 1px solid black;
    max-width: 100%;
    width: 100%; /* Asegura que use el ancho disponible */
    touch-action: none; /* Evita que el navegador interfiera con los toques */
}